[submodule "themes/hugo-vitae"]
	path = themes/hugo-vitae
	url = https://github.com/dataCobra/hugo-vitae.git
[submodule "public"]
	path = public
	url = https://github.com/pko89403/pko89403.github.io.git
	branch = master
